{% extends 'main/base.html' %}

{% block meta_title %}UK Best Product Reviews {{Year}} {% endblock %}
{% block meta_desc %}Reasearching and reviewing UK best Gardening Products in {{Year}}{% endblock %}

{% block nav_about %}{% endblock %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="background: url('/static/assets/img/allproducts.jpg') center center; max-height: 160px;">
    <div class="container text-center d-flex flex-column justify-content-bottom" data-aos="fade-in" data-aos-delay="200">
      

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Team Section ======= -->
    
    {% for pcmg in ProductCategoryMasterGroups %}
    <div id="{{pcmg.ProductCategoryMasterGroupName}}" class="mt-4">
      <div class="container d-flex mt-4">
        <h2 style="font-size:2.5rem">{{pcmg.ProductCategoryMasterGroupName}}</h2>
      </div>
      <section id="pcmg" class="pcmg mt-4">
        <div class="container">
          <div class="row d-flex justify-content-center">
            {% for pcg in ProductCategoryGroups %}
            {% if pcg.ProductCategoryMasterGroupName.id == pcmg.id %}
            <div class="col-lg-4 d-flex justify-content-center mt-4">
              <div class="pcg" data-aos="zoom-in" data-aos-delay="100" style="width:100%">
                <div class="pic"><img src="/static/assets/img/pc/{{pcg.ProductCategoryGroupName}}.jpg" class="img-fluid" alt=""></div>
                <div class="pcg-info">
                  <h5><span><strong>{{pcg.ProductCategoryGroupName}}</strong></span></h5>
                </div>
               <div>
               <p>Select one of below:</p>
               
                 {% for pc in ProductCategories %}
                 {% if pc.ProductCategoryGroupName.id == pcg.id %}
                    
                    <a href="/productcategory/{{pc.id}}">{{pc.ProductCategoryName}}</a><br>
                    
                 {% endif %}
                 {% endfor %}
               
               </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
    {% endfor %}
    <!-- End Team Section -->

    
   

    

  </main><!-- End #main -->

{% endblock %}