{% extends 'main/base.html' %}

{% block meta_title %}{{a.ArticleName}}{% endblock %}
{% block meta_desc %}{{a.NavSubCatName}} gardening article focusing on {{a.ArticleTagName}}, titled {{a.ArticleName}} {% endblock %}

{% block nav_about %}{% endblock %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="background: url('{{a.Articleimg}}') center center; max-height: 200px;">
    
  </section><!-- End Hero -->

  <main id="main">
    <div class="col-lg-12 mt-2 d-flex justify-content-between">
    <div class="col-lg-4">
      <a href="/">Home</a>
      <i class="bi bi-chevron-right"></i>
      <a href="/articlecategory/{{a.NavSubCatName.id}}">{{a.NavSubCatName}}</a>
    </div>
    <div class="col-lg-4 text-end">
      Published: {{a.LastUpdated|date:"d M, Y" }}
      
    </div>
    </div>
    <!-- ======= Article Section ======= -->
    
    <section class="article">
      <div class="container">
        <div class="col-lg-12 articletitle text-center">
      
          <h3 ><a href="/article/{{a.id}}">{{a.ArticleName}}</a></h3>

        </div>
        {{a.ArticleBody|safe}}

        {% if a.ProductCategory.id > 0 %}
        <div class="col-lg-12 mt-2">
          <hr>
          <i class="bi bi-caret-right-fill"></i><a href="/productcategory/{{a.ProductCategory.id}}"> Click here for best {{ a.ProductCategory.ProductCategoryName | lower }} of {{Year}}</a>
          
        </div>
        {% endif %}
      </div>

    </section>
    <!-- End Article Section -->

    
   

    

  </main><!-- End #main -->

{% endblock %}