{% extends 'main/base.html' %}

{% block meta_title %}UK Best {{pc.ProductCategoryName}} {{Year}}{% endblock %}
{% block meta_desc %}
  Reasearching and reviewing UK best {{pc.ProductCategoryName}} in {{Year}} - {{pc.ProductCategoryDesc1}}
{% endblock %}

{% block nav_about %}{% endblock %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="background: url('/static/{{pc.ProductCategoryimg}}') center center; max-height: 400px;">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1>{{pc.ProductCategoryName}}</h1>
      <h2>Helping You Find The best {{pc.ProductCategoryName}} in UK {{Year}}!</h2>
      <a href="/#categories" class="btn-get-started scrollto">Back to Product Categories</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ============= DISCALIMER ============== -->
    <div id="disclaimer" class="col-lg-12 text-center">
      <small>

        <p> <i class="bi bi-info-circle"></i>   We thoroughly research and fact-check each product - we <strong>DO NOT</strong> make any commision if you buy from our links to remain fair, honest and unbiased.</p>
      </small>
    </div>


    <!-- ============= END DISCLAIMER ============== -->

    <!-- ======= Why Us Section ======= -->
    
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          
          <div class="col-lg-12 d-flex align-items-center">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row d-flex justify-content-center">
                
                <div class="col-xl-3 d-flex align-items-stretch mt-2" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box mt-xl-0">
                      <div class="d-flex justify-content-center">
                          <h3>Best choice</h3>
                      </div>
                      <a href="{{ProductLists.0.AmazonLink}}/ref=nosim?tag=gardenguru-21">
                        <img class="img-fluid img-responsive rounded p-3" src="{{ ProductLists.0.Productimg }}" alt="#1 of the best {{ ProductLists.0.ProductCategoryName }} in UK in {{Year}}">
                      </a>
                      <a href="{{ProductLists.0.AmazonLink}}/ref=nosim?tag=gardenguru-21">
                        <h5>{{ProductLists.0.ProductName}}</h5>
                        <p>{{ProductLists.0.ProductBrand}}</p>
                    </a>
                    <div class="starsandlink">
                    <div class="d-flex justify-content-center">
                      
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      
                    </div>
                    <!--<div class="text-center">
                      <h6>Click below</h6>
                    </div>-->
                    <div class="d-flex justify-content-center">

                      <a href="{{ProductLists.0.AmazonLink}}/ref=nosim?tag=gardenguru-21" class="btn-get-started scrollto">Find retailer</a>
                    </div>
                  </div>
                  </div>
                </div>
                
                <div class="col-xl-3 d-flex align-items-stretch mt-2" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box mt-xl-0">
                      <div class="d-flex justify-content-center">
                          <h3>Close contender</h3>
                      </div>
                      <a href="{{ProductLists.1.AmazonLink}}/ref=nosim?tag=gardenguru-21">
                        <img class="img-fluid img-responsive rounded p-3" src="{{ ProductLists.1.Productimg }}" alt="#2 of the best {{ ProductLists.1.ProductCategoryName }} in UK in {{Year}}"> 
                      </a>
                      <a href="{{ProductLists.1.AmazonLink}}/ref=nosim?tag=gardenguru-21">
                        <h5>{{ProductLists.1.ProductName}}</h5>
                        <p>{{ProductLists.1.ProductBrand}}</p>
                    </a>
                    <div class="starsandlink">
                    <div class="d-flex justify-content-center">
                      
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                      
                    </div>
                    <div class="d-flex justify-content-center">
                      <a href="{{ProductLists.1.AmazonLink}}/ref=nosim?tag=gardenguru-21" class="btn-get-started scrollto">Find retailer</a>
                    </div>
                  </div>
                  </div>
                </div>

                <div class="col-xl-3 d-flex mt-2" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box mt-xl-0">
                      <div class="d-flex justify-content-center">
                          <h3>Alternative pick</h3>
                      </div>
                      <a href="{{ProductLists.2.AmazonLink}}/ref=nosim?tag=gardenguru-21">
                        <img class="img-fluid img-responsive rounded p-3" src="{{ ProductLists.2.Productimg }}" alt="#3 of the best {{ ProductLists.2.ProductCategoryName }} in UK in {{Year}}">
                      </a>
                      <a href="{{ProductLists.2.AmazonLink}}/ref=nosim?tag=gardenguru-21">
                        <h5>{{ProductLists.2.ProductName}}</h5>
                        <p>{{ProductLists.2.ProductBrand}}</p>
                    </a>
                    <div class="starsandlink">
                    <div class="d-flex justify-content-center">
                      
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i>
                      
                    </div>
                    <div class="d-flex justify-content-center">
                      <a href="{{ProductLists.2.AmazonLink}}/ref=nosim?tag=gardenguru-21" class="btn-get-started scrollto">Find retailer</a>
                    </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Clients Section ======= -->
    <!--<section id="clients" class="clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="400">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="500">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="600">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section>--><!-- End Clients Section -->

    
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <h2>{{pc.ProductCategoryDesc1}}</h2>
            <h3>{{pc.ProductCategoryDesc2}}</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <p>
              {{pc.ProductCategoryDesc3}}
            </p>
            <ul>
              {% for feature in features %}
              <li><i class="ri-check-double-line"></i>{{feature.FeatureName}}</li>
                <ul>
                  <li>{{feature.FeatureDesc}}</li>
                </ul>
              {% endfor %}
            </ul>
            <p class="fst-italic">
              {{pc.ProductCategoryAddInfo|safe}}
            </p>
            
          </div>

        </div>
      
      </div>
    </section><!-- End About Section -->
    <div id="ProductStart">
      
    </div>

    <!-- ======= Product List Section ======= -->
    <div class="container mt-4 mb-4">

        {% if ProductListSubCategories.count > 0 %}
        <div class="row portfolio" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">

              <li data-filter="*" class="filter-active">All</li>

              {% for ProductListSubCategory in ProductListSubCategories %}
              <li data-filter=".filter-cat{{ProductListSubCategory.id}}">{{ProductListSubCategory}}</li>
              {% endfor %}
              {% if ProductsNotSetCount > 0 %}
              <li data-filter=".filter-cat1">Other</li>
              {% endif %}

            </ul>
          </div>
        </div>
        {% endif %}


      <div class="d-flex justify-content-center row portfolio-container" id="productlist">
        <div class="col-md-12">
          <!--===PRODUCT START-->
          {% for Product in ProductLists %}
        
          <div class="row p-2 bg-white border rounded mt-1 portfolio-item filter-cat{{Product.ProductListSubCategory.id}}"  > <!--data-aos="fade-up" data-aos-delay="0"-->
          
          
            <div class="col-md-3 mt-1 d-flex justify-content-center">
              <div class="productname d-flex flex-column">
                <div class="max-auto d-flex justify-content-center">
                  <a href="{{Product.AmazonLink}}/ref=nosim?tag=gardenguru-21">
                    <img class="img-fluid img-responsive rounded p-3" src="{{Product.Productimg}}" alt="list of best {{ ProductLists.0.ProductCategoryName }} in UK in {{Year}}">
                  </a>
                </div>
                <div class="d-flex flex-column">
                  <div class="text-center">
                    <h5>{{Product.ProductBrand}}</h5>
                  </div>
                  <div class="text-center">
                   <h6><strong>{{Product.ProductName}}</strong></h6>
                  </div>
                </div>
                
                <div class="d-flex justify-content-center bg-white">
                  <h5><strong>
                  <a class="linkbtn" href="{{Product.AmazonLink}}/ref=nosim?tag=gardenguru-21">
                    {% if Product.ProductCost > 0 %}
                      £{{Product.ProductCost|floatformat:2}} on Amazon
                    {% else %}
                      Check on Amazon
                    {% endif %}
                  </a></strong></h5>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="d-flex flex-column">
              <div class="result-summary">
                <div class="results grid-flow" data-spacing="large">
                  <p class="result-score"><span>{{ Product.AmazonStar|floatformat:1 }}</span> of 5.0</p>
                  <div class="grid-flow">
                    <p class="result-rank">
                      {{Product.AmazonStarRating}}
                    </p>
                  </div>
                </div>
                <div class="summary grid-flow d-flex flex-column" data-spacing="large"> 
                  <div class="grid-flow">
                    {% for FeatureScore in Product.ProductScores %}
                    <div class="summary-item" data-item-type="accent-3">
                      <div class="flex-group">
                        <h5 class="summary-item-title">{{FeatureScore.0}}</h5>
                      </div>
                      <p class="summary-score"><span>{{FeatureScore.1}}</span> / 5.0</p>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="productdesc text-justify mt-2">
                <h6><small>{{Product.ProductDesc}}</small></h6>
              </div>
              </div>
            </div>
          </div>
          
        
          {% endfor %}
          <!--===PRODUCT END-->


        
        </div>
      </div>
    </div>
    <!-- End Product List Section -->
    <div class="container col-lg-10 mt-4 mb-4">
        {{ pct.0.Text|safe }}
    </div>

    

  </main><!-- End #main -->

{% endblock %}